# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# IDE / Editor configurations
.vscode/
.idea/

# Local configuration files
.env
*.log
brain/
